{% extends 'base/base.html' %}
{% block page_content %}
<!-- Dropdown Card Example -->
<div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">listado de Facturas</h6>
    </div>
    <!-- Card Body -->
    <div class="card-body">
        <div class="buttons-toolbar">
            <a class="btn btn-success" href="{% url 'fac:facturas_new' %}"><i class="far fa-calendar-plus"></i> Nuevo</a>
        </div>
        
        {% if not obj%}
        <div class="alert alert-info">No Hay Facturas</div>
        {% else %}
        <!-- Toolbar -->
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-class" name="f1" id="f1" readonly>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-class" name="f2" id="f2" readonly>
            </div>
            <div class="col-md-4">
                <button class="btn btn-warning" type="button" id="btnPrint">Imprimir</button>
            </div>
        </div>


        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true"
            data-show-toggle="true" data-show-fullscreen="true" data-toolbar=".buttons-toolbar" data-locale="es-MX">
            <thead>
                <th data-field="id" data-sortable="true">No. Factura</th>
                <th data-field="clientes" data-sortable="true">Cliente</th>
                <th data-field="total" data-sortable="true">Total</th>
                <th data-field="estado">Estado</th>
                <th class="all">Acciones</th>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.cliente}}</td>
                    <td>{{item.total}}</td>
                    <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
                    <td>
                        <a href="{% url 'fac:factura_edit' item.id %}" class="btn btn-warning btn-circle">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js_page %}
<script>
//Carga de DOOM
$(function () {
    $("#f1, #f2").datetimepicker({
        format: 'Y-m-d',
        timepicker: false
    });

    //Funcion par el bootn btnPrint
    $("#btnPrint").click(function (e) {
        //Eivito que se refreseque la pagina
        e.preventDefault();
        //Extraigo los valores de los inputs f1 y f2 para almacenarlos en las variables f1 y f2.
        var f1, f2;
        f1 = $("#f1").val();
        f2 = $("#f2").val();

        //Valido que f1 no este vacio o nulo, de ser asi le asigno una fecha predeterminada
        if(f1== "" || f2==null){
            f1="2019-06-01";
        }

        //Valido que f2 no este vacio o nulo, de ser asi le asigno la fecha de hoy.
        if (f2 == "" || f2 == null) {
            var d = new Date();
            var f2 = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
        }

        //Creacion de la url que ejecutara la vista.
        var url = "imprimir-todas/" + f1 + "/" + f2;

        window.open(url, 'facturas');
    });
});

</script>
{% endblock %}