<div class="modal-dialog modal-md">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inv:um_edit' obj.pk %}" enctype="multipart/form-data">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inv:um_new' %}" enctype="multipart/form-data">
        {% endif %}
            {% csrf_token %}
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-12 mb-12">
            <!--Condicion que diferenciara a la edicion de un registro a uno nuevo-->
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if obj %} Editar {% else %} Nueva {% endif %} Unidad de Medida
                                </div>
                                <div class="dropdown-divider"></div>

                                <div class="row">
                                    <div class="col-10">
                                        <div class="input-group">
                                            {{form.descripcion}}
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label for="id_estado">Estado</label>
                                            {{form.estado}}
                                        </div>
                                    </div>
                                    <!-- {{form.as_p}} -->
                                </div>
                                <hr>
                                <div class="dropn-idivivider"> </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success"><span class="fa fa-save"></span>
                                            Guardar
                                        </button>
                                        <button class="btn btn-danger" type="button" onclick="return cerrar_modal()">
                                            Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>